* {
    padding: 0;
    margin: 0;
    color: #FFFBDE;
    text-align: center;
}

html, body {
    background-color: #4682A9;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}



nav, section, footer {
    background-color: #91C8E4;
    border: 4px solid #91C8E4;
    margin: 1rem auto;
    border-radius: 10px;
    padding: 1rem;
    width: 80%;
}

nav h1, section h2, footer h3 {
    color: #FFFBDE;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 1rem auto;
    background-color: #4682A9;
    color: #FFFBDE;
}

th, td {
    border: 2px solid #749BC2;
    padding: 10px 20px;
    text-align: center;
}

a {
    color: #FFFBDE;
}

footer {
    background-color: #91C8E4;
    border: 4px solid #91C8E4;
    border-radius: 10px;
    padding: 1rem;
    width: 80%;
    margin: 0 auto 1rem auto;
    color: #FFFBDE;
    text-align: center;
    font-size: 1.5rem;
}