body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

aside{
    margin: 25px 0;
  text-align: left;
}


aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin: 8px 0;
  font-size: 14px;
}